#footer1 {
  position: relative;
  top: 440px;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
.form {
  position: relative;
  top: 50px;
}
#registro {
  position: relative;
  top: 170px;
  width: 550px;
  height: 480px;
  padding: 10px;
  border-radius: 35px;
  border-style: groove;
  background: black;
  opacity: 0.8;
}
#btn-nav {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  /*   background-color: #212121; */
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}
#btn-nav::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: 4px var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

#btn-nav:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

#btn-nav,
#btn-nav::after {
  box-sizing: border-box;
}

#btn-nav:active {
  --border-width: 5px;
}
#btn-nav2 {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  left: 490px;
  padding: 1em 2em;
  border: 0;
  /*   background-color: #212121; */
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

#btn-nav2::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: 4px var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

#btn-nav2:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

#btn-nav2,
#btn-nav2::after {
  box-sizing: border-box;
}

#btn-nav2:active {
  --border-width: 5px;
}
#list-group {
  background: black;
}
