* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  font-family: Arial;
  background-color: #3498db;
  padding: 50px;
}
.login {
  margin: 20px auto;
  width: 300px;
}
.login-screen {
  position: relative;
  right: 70px;
  top: 100px;
  width: 500px;
  height: 510px;
  padding: 10px;
  border-radius: 35px;
  border-style: groove;
  background: black;
  opacity: 0.8;
}
#login-input {
  margin: 0px;
  padding: 10px;
}
#login-pass {
  margin: 0px;
  padding: 10px;
}
.app-title1 {
  font-weight: bold;
  position: relative;
  bottom: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.app-title {
  font-weight: bold;
  position: relative;
  bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.login-form {
  text-align: center;
  position: relative;
  top: 65px;
}
.control-group {
  margin-bottom: 15px;
}

input {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}
#btn1 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 2em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  left: 145px;
  top: 25px;
  transition: all 0.3s;
}
a.login-link {
  color: white;
  font-size: 14px;
  position: relative;
  top: 100px;
}
#btn1::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

#btn1:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

#btn1:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
#btn {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 2em;
  width: 150px;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  left: 185px;
  top: 25px;
  transition: all 0.3s;
}
a.login-link {
  color: white;
  font-size: 14px;
  position: relative;
  left: 148px;
  top: 100px;
}
#btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

#btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

#btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}
